#calender{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;

    .calender-wrapper{
        background: lighten($purple, 22);
        padding: 30px;
        border-radius: 8px;
        border: 2px solid $purple;

        h3{
            color: var(--same);
            background: lighten($purple, 22);
            text-align: center;
            display:inline-block;
            width:200px;
            font-size: $big;
            font-weight: $semi-bold;
        }
        img{
            width: 200px;
            background: var(--white);
            display:inline-block;
            vertical-align: middle;
        }
    }
}