#discussion,
#resource {

  .discussion-wrapper {
    padding: 20px;
    .discussion-container {
      padding: 10px 20px;

      h2,
      .button,
      .search_container,
      .back {
        display: inline-block;
      }

      h2,
      .back {
        float: left;
        font-size: $big;
        font-weight: $semi-bold;
      }

      .back {
        svg {
          margin-top: 4px;
        }
      }

      .align-right {
        .button,
        .search_container {
          float: right;
        }
      }
    }

    .author-details {
      width: 30%;
      margin: 0 auto;
      text-align: left;

      .author-img {
        border-radius: 50%;
        height: 35px;
        width: 35px;
        margin: 0px auto;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
      }

      .author-name {
        display: inline-block;
      }
    }
  }
}
