.register{
    margin: auto;
    width: 40%;
    background: var(--white);
    margin-top: 80px;
    max-width: 440px;
    box-shadow: 0 5px 20px 0 rgba(21,27,38,.08);
    border-radius: 8px;
    padding: 60px 40px;
    @include mq( 'phone' ){
        width: 85%;
        padding:30px 20px;
    }

    .register-container{
        .title{
            & > h1 {
                color: var(--black);
                font-size: $big;
                text-align: center;
            }
        }
    }
}

//This is common style for all forms in the project
form{
    margin: 20px 0;

    .form-row {
        display: flex;
        margin: 20px 0;
        position: relative;

        span { 
            background:var(--white);
            color: var(--placeholder);;
            display: inline-block;
            font-weight: $regular;
            left: 10px;
            padding: 0 50px 0 5px;
            position: absolute;
            pointer-events: none;
            transform: translatey(-50%);
            top: 50%;
            @include transition(all 300ms ease);
            user-select: none;
        }

        .label{
            top:0;
        }

        .author{
            padding: 0 5px;
        }

        & > input {
            font-weight: bold;
            @include transition(100ms ease all);
            border-radius: 5px;
            padding: 15px 15px;
            width: 100%;
            color:var(--black);
            background:var(--white);

            &[type = text],
            &[type = password] {
                border: 0.5px solid var(--gray);
            }

            &:valid {
                & + span {
                    top: 0;
                    padding: 0 5px;
                }
            }

            &:invalid {
                & + span {
                    top: 50%;
                }
            }

            &:focus {
                & + span {
                    top: 0;
                    padding: 0 5px;
                }
            }

            &:required {
                box-shadow: none;
            }

            &:focus {
                border-color: $purple;
                outline: none;

                &:invalid {
                    box-shadow: none;
                    top: 50%;
                }

                &:valid {
                    top: 0;
                }
            }
        }

        & > button {
            border: 0.5px solid $purple;
            cursor: pointer;
            width:100%;
            @include transition(all 300ms ease);
            outline:none;
            
            &:hover {
              background-color: darken($purple, 10);
            }
        }

        .date{
            border: 0.5px solid var(--gray);
        }

        .validation{
            position: absolute;
            bottom: -18px;
            font-size: 12px;
            right: 0;
            color:var(--red);;
        }
    }

    .message{
        margin: 15px 0 0;
        color: var(--dark-gray);
        font-size: $small;
        text-align:center;

        button{
            color:$purple;
            background:var(--white);
            border:none;
            cursor:pointer;
            outline:none;
        }
    }
}