.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    z-index:100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popupOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    align-content: center;
    overflow-y: auto;
}

.popup_inner {
    background: var(--white);
    position: relative;
    z-index: 1;
    padding:10px 30px 20px;
    width:500px;

    @media only screen and (max-width: 767px) {
        width: 300px;
    }

    .popup-header {
        height: 50px;
        background-color: var(--white);
        color: $purple;
        margin-bottom: 10px;
        padding: 20px 2px 0;

        .close-icon {
            float: right;
            height: 79%;
        }
    }

}