.l-navbar{
    position: fixed;
    top: 76px;
    left: 0;
    width: 61px;
    height: 100vh;
    background-color: var(--white);
    padding: 10px 5px;
    @include transition(.5s);
    z-index: 100;

    .nav{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
    
        &__logo{
            display: flex;
            align-items: center;
            margin-bottom: 35px;
            padding: 0 10px;
            cursor:pointer;
        }
        &__link{
            display: flex;
            align-items: center;
            padding: 14px 12px;
            border-radius: 5px;
            color: var(--icon-gray);
            @include transition(.3s);
            cursor:pointer;
            
            &:hover{
                background-color: lighten( $purple, 15);
                color: var(--white);
            }

            .MuiSvgIcon-root{
                font-size: 1.5rem;
                margin-right: 1rem;
            }
        }
        
        .nav__link.active{
            background-color: $purple;
            color: var(--white);
        }
        
        &__text{
            font-weight: $bold;
        }
    }
}



/*Show menu*/
.show{
    width: 61px + 112px;
}

/*Add padding body*/
.expander{
    padding: 75px 0 0 173px !important;
    @include transition(.5s !important);
}

