:root {
    --dark-background: #1F2129;
    --dark-white: #272B33;
    --dark-black: #ffffff;
    --dark-placeholder: #fff;
    --dark-icon-gray: #6A6C7B;
    --dark-dark-gray: #A7A7A7;
    --dark-same: #565C6A;
    --dark-purple: #BB86FC;
    --dark-green: #74E39A;
    --dark-red: #DA2748;
    --dark-blue: #42A8F7;
    --dark-gray: #ccc;
}

// Color Pallete
$purple  : #A17AFF;
$green   : #2EC469;
$blue    : #71B6F9;
$red     : #FA5B5B;

body{
    --background: #F6F7FB;
    --white: #ffffff;
    --gray: #dddddd;
    --icon-gray: #A7A6B2;
    --dark-gray: #565C6A;
    --same: #565C6b;
    --black: #060b26;
    --placeholder: #adafca;
    --purple: #A17AFF;
    --green: #2EC469;
    --blue: #71B6F9;
    --red: #FA5B5B;
}

body.dark-mode{
    --background: var(--dark-background);
    --white: var(--dark-white);
    --gray: var(--dark-gray);
    --icon-gray: var(--dark-icon-gray);
    --dark-gray: var(--dark-dark-gray);
    --black: var(--dark-black);
    --same: var(--dark-same);
    --placeholder: var(--dark-placeholder);
    --purple: var(--dark-purple);
    --green: var(--dark-green);
    --blue: var(--dark-blue);
    --red: var(--dark-red);
}

// Fonts
$font-family: 'Nunito', sans-serif;

// Define all your font-weights you will be using all over site.
$normal : 16px;
$medium:18px;
$small : 14px;
$big: 24px;
$logo : 30px;

$extra-light : 200;
$light :300;
$regular : 400;
$semi-bold : 600;
$bold : 700;
$extra-bold : 800;

/* MIXIN : MEDIA QUERIES
 *    EX : @include mq( 'lap-and-up' ) { CODE }
 * ------------------------------------------------------------------------- */
$phone: "screen and (max-width: 767px)";
$tablet: "screen and (min-width: 768px) and (max-width: 1024px)";
$phone-and-tab: "screen and (max-width: 1024px )";
$tablet-and-up: "screen and (min-width: 768px)";
$tablet-portrait: "screen and (min-width: 768px) and (max-width: 959px)";
$tablet-landscape: "screen and (min-width: 960px) and (max-width: 1024px)";
$lap: "screen and (min-width: 1025px) and (max-width: 1219px)";

@mixin mq($alias) {
    @if $alias=="phone" {
        @media #{$phone} {
            @content;
        }
    }

    @else if $alias=="tablet" {
        @media #{$tablet} {
            @content;
        }
    }

    @else if $alias=="phone-and-tab" {
        @media #{$phone-and-tab} {
            @content;
        }
    }

    @else if $alias=="tablet-and-up" {
        @media #{$tablet-and-up} {
            @content;
        }
    }

    @else if $alias=="tablet-portrait" {
        @media #{$tablet-portrait} {
            @content;
        }
    }

    @else if $alias=="tablet-landscape" {
        @media #{$tablet-landscape} {
            @content;
        }
    }

    @else if $alias=="lap" {
        @media #{$lap} {
            @content;
        }
    }
}

/*===== z index =====*/
:root{
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}